/*   - - - - - - news article archive specific - - - - - - */

.article-archive .dateBg {
    display: block;
    font-size: 2em;
    color: rgb(31, 110, 180);
    margin-top: 40px;
    margin-bottom: 20px;
}