#grad-menu {
    width: 100%;
    background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/rule-embossed.gif") left top repeat-x;
	margin-left: 0;
	padding-left: 0;
	list-style: none;

    li {
        padding: 10px 0 10px 20px;
        margin-bottom: 0;
        background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/rule-embossed.gif") left bottom repeat-x;

        &:hover {
            background-color: #fff;
        }
        &.current {
            background-color: #fff;
            a {
                background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/icon-menuarrow-active.png") 5px 50% no-repeat;
                color: #1f6db4;
                background-color: #fff;  
            }
        }
    }
    a {
        display: block;
        padding: 5px 10px 5px 25px;
        background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/icon-menuarrow-resting.png") 5px 50% no-repeat;
        color: #6d6e70;
        text-decoration: none;

        &:hover, &:focus {
          background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/icon-menuarrow-active.png") 5px 50% no-repeat;
            color: #1f6db4;
            background-color: #fff;  
        }
    }
}