/*   - - - - - - - .about program specific - - - - - - -   */

.about #page-banner {
    background: none;
    background: #597eb2;
    height: 100px;
}

.about.landing #page-banner {
    height: 250px;
}

.about #page-banner .container {
    background: none;
    height: 100px;
}

.landing.about #page-banner .container {
    height: 250px;
}

.about h2.page-title {
    color: #fff;
}

.about.landing h2.page-title {
    padding-top: 100px;
    margin-right: 480px;
}

/*
	.about.landing #page-banner .container	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/about-banner.jpg") top right no-repeat;
	}	

	.about.landing #page-banner .container.brightfuture	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/banner-brightfutureevent.jpg") top right no-repeat;
	}	

	*/

/*   - - - - - - - about branding landing - - - - - - -   */

/*
	.about.landing #page-banner .container.integrative	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/integrative-thinking-banner.jpg") top right no-repeat;
	}	
	
	.about.landing #page-banner .container.leadership	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/leadership-banner.jpg") top right no-repeat;
	}	
	
	.about.landing #page-banner .container.across	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/acrossdisciplines-banner.jpg") top right no-repeat;
	}	
	
	.about.landing #page-banner .container.design	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/designtech-banner.jpg") top right no-repeat;
	}	
*/