/*   - - - - - - - .admissions program specific - - - - - - -   */

.admissions #page-banner {
    background: none;
    background: #933da6;
}

.admissions h2.page-title {
    color: #fff;
}

@media only screen and (max-width: 768px) {
	.admissions #page-banner {
		background: none;
	}
}

/*
	.admissions.landing #page-banner .container.admissionsaid	{
		background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/banner-admissions-aid-title.jpg") top right no-repeat;
	}	

*/