/*   - - - - - - - .custom program specific - - - - - - -   */

.custom #page-banner {
    background: none;
    background: #c6cf62;
}
.custom h2.page-title {
    color: #fff;
}

@media only screen and (max-width: 768px) {
	.custom #page-banner {
		background: none;
	}
}
