/*   - - - - - - - .howto How to Get Started specific - - - - - - -   */
.howto #course-description {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.howto #course-description .nav {
    margin-left: 75px;
}

.howto #course-description .nav li {
    margin-left: 30px;
	height: 240px;
	padding: 0;
	background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/icons-howtogetstarted.png") 0px bottom no-repeat;
}

.howto #course-description .nav li a {
    text-transform: capitalize;
    margin: 0;
    width: 160px;
    height: inherit; /* TOTAL height: 160px; */
    padding: 125px 0 0 0;
    background: none;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(204, 204, 204);
}

/* Compare Programs */
.howto #course-description .nav li.nav-one  {
    background-position:  0 bottom;
}
.howto #course-description .nav li.nav-one.current,
.howto #course-description .nav li.nav-one:hover,
.howto #course-description .nav li.nav-one:focus  {
    background-position:  0 top;
}
.howto #course-description .nav li.nav-one a {
    background-position: 0 bottom;
    height: 110px; /* TOTAL height: 245px; */
    padding-top: 110px;
}

.howto #course-description .nav li.nav-one a:hover,
.howto #course-description .nav li.nav-one a.current {
    /* Compare Programs */
    margin-top: 0;
    background-position: 0 top;
    height: 140px; /* TOTAL height: 255px; */
    padding-top: 115px;
    color: rgb(31, 110, 180)
}
.howto #course-description .nav li.nav-one a.current,
.howto #course-description .nav li.nav-one:hover a,
.howto #course-description .nav li.nav-one:focus a
{
	padding-top: 100px;
}


/* Delivery */
.howto #course-description .nav li.nav-two  {
    background-position:  -180px bottom;
}
.howto #course-description .nav li.nav-two.current,
.howto #course-description .nav li.nav-two:hover,
.howto #course-description .nav li.nav-two:focus {
    background-position:  -180px top;
}

.howto #course-description .nav li.nav-two a {
    background-position: -180px bottom;
    height: 105px; /* TOTAL height: 245px; */
    padding-top: 135px;
}

.howto #course-description .nav li.nav-two a:hover,
.howto #course-description .nav li.nav-two a.current {
    margin-top: 0;
    height: 140px; /* TOTAL height: 255px; */
    padding-top: 117px;
    background-position: -180px top;
    color: rgb(31, 110, 180)
}

.howto #course-description .nav li.nav-two a.current,
.howto #course-description .nav li.nav-two:hover a,
.howto #course-description .nav li.nav-two:focus a
{
	padding-top: 117px;
}

/* Time Commitment */
.howto #course-description .nav li.nav-three {
    background-position:  -360px bottom;
}
.howto #course-description .nav li.nav-three a {
    background-position: -360px bottom;
    height: 105px; /* TOTAL height: 245px; */
    padding-top: 116px;
}

.howto #course-description .nav li.nav-three a:hover,
.howto #course-description .nav li.nav-three a.current {
    /* Time Commitment */
    margin-top: 0;
    height: 140px; /* TOTAL height: 255px; */
    padding-top: 97px;
    background-position: -360px top;
    color: rgb(31, 110, 180)
}
.howto #course-description .nav li.nav-three.current,
.howto #course-description .nav li.nav-three:hover,
.howto #course-description .nav li.nav-three:focus  {
    background-position:  -360px top;
}
.howto #course-description .nav li.nav-three a.current,
.howto #course-description .nav li.nav-three:hover a,
.howto #course-description .nav li.nav-three:focus a
{
	padding-top: 97px;
}

/* Tuition & Financial Aid */
.howto #course-description .nav li.nav-four  {
    background-position:  -540px bottom;
}
.howto #course-description .nav li.nav-four.current,
.howto #course-description .nav li.nav-four:hover,
.howto #course-description .nav li.nav-four:focus  {
    background-position:  -540px top;
}
.howto #course-description .nav li.nav-four a {
    background-position: -540px bottom;
    height: 120px; /* TOTAL height: 245px; */
    padding-top: 115px;
}

.howto #course-description .nav li.nav-four a:hover,
.howto #course-description .nav li.nav-four a.current {
    /* Tuition & Financial Aid */
    margin-top: 0;
    height: 160px; /* TOTAL height: 255px; */
    padding-top: 95px;
    background-position: -540px top;
    color: rgb(31, 110, 180)
}
.howto #course-description .nav li.nav-four a.current,
.howto #course-description .nav li.nav-four:hover a,
.howto #course-description .nav li.nav-four:focus a
{
	padding-top: 97px;
}

.howto #course-description .list-wrap {
    margin-top: 0;
    padding: 0;
    border: 1px solid #ccc;
}

.howto #course-description .list-wrap ul {
    padding: 20px;
}

.howto #content table {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(49, 49, 49); /* 70% black */
}

.howto #content table th,
.howto #content table td {
    padding: 15px 0;
    line-height: 1.3em;
    border: none;
    border-bottom: 1px solid #ccc;
}

.howto #content thead th {
    vertical-align: bottom;
    color: rgb(49, 49, 49); /* 70% black */
}

.howto #content thead th h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.howto #content tbody th {
    color: rgb(54, 120, 168);
    font-weight: normal;
}
