/*   - - - - - - - .pro program specific - - - - - - -   */

.pro #page-banner {
    background: #a6bee0 url(../../images/title-ribbon-bg.jpg) 50% 50% no-repeat;
    height: 100px;
}

.pro.landing #page-banner {
    height: 250px;
}

.pro #page-banner .container {
    background: none;
    height: 100px;
}

.pro.landing #page-banner .container {
    height: 250px;
}

.pro h2.page-title {
    color: #176eb5;
}