body {
  margin: 0px;
  padding: 0px;
  color: #58585a;
  background: #f3f2f1;
  font-size: .9em; }

.container {
  /*border: 1px solid red;*/ }

.left {
  float: left;
  margin: 0 10px 10px 0; }

.right {
  float: right;
  margin: 0 0 10px 10px; }

.gutter {
  margin-right: 20px;
  margin-left: 20px; }

.two-col .alpha {
  margin-right: 20px; }

.two-col .omega {
  margin-left: 20px; }

.clearfix {
  margin: 0 !important; }

a.download {
  display: block;
  width: 32px;
  height: 30px;
  /* TOTAL height: 85px; */
  padding-top: 55px;
  background: transparent url(../../images/icon-download.png) 50% top no-repeat;
  text-transform: uppercase;
  font-size: .6em;
  color: #176eb5; }

p.intro {
  max-width: 650px;
  color: #58585a;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 600; }

.bottom-rule {
  min-height: 5px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  background: transparent url(../../images/rule-embossed.gif) left bottom repeat-x; }

p.no-space {
  margin-bottom: 0; }

p.no-space + ul {
  margin-bottom: 20px;
  list-style: disc; }

strong {
  color: #58585a;
  font-weight: bold; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: .7em;
  line-heigh: 0; }

sub {
  top: 0.4em; }

cite {
  font-style: italic;
  font-weight: bold; }

acronym, abbr {
  border-bottom: 1px dotted #58585a; }

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px;
  /* for ie7 */
  padding-bottom: 20px;
  /* for ie7 */
  max-height: 600px; }

blockquote,
blockquote p {
  color: #58585A; }

div.captioned {
  font-size: .7em; }

div.captioned img {
  border: 5px solid #fff;
  margin-bottom: 5px; }

div.captioned.thumbnail img {
  border: 5px solid #fff;
  margin-bottom: 5px;
  max-height: 155px;
  max-width: 225px;
  margin-right: 10px; }

div.captioned object {
  border: 5px solid #fff;
  margin-bottom: 5px; }

div.captioned p {
  line-height: 1.2em;
  margin-bottom: 10px; }

ul {
  list-style: disc;
  margin-left: 5px;
  padding-left: 15px; }
  ul ul {
    list-style: circle; }
  ul.no-style {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
    ul.no-style li {
      list-style: none; }

ol {
  margin-bottom: 20px; }

ol.roman {
  list-style: upper-roman; }

dl {
  margin-bottom: 10px; }

dt, dd {
  margin-bottom: 10px;
  padding-left: 1em;
  text-indent: -1em; }

dt {
  margin-bottom: 5px; }

dt,
dd strong {
  font-weight: 700; }

dd p,
dd li {
  margin-bottom: 0; }

dd div {
  text-indent: 0; }

hr {
  clear: both; }

table {
  color: #176eb5;
  margin-bottom: 20px;
  background: #fff;
  position: relative; }

th, td {
  border: #ccc 1px solid;
  padding: 5px 10px;
  font-size: .95em;
  position: relative; }

th {
  font-weight: bold; }

tfoot td {
  font-size: .85em;
  color: #58585a; }

/* Generic Utility for jQuery tabs */
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.color-tile {
  display: block;
  width: 100px;
  height: 55px;
  border: 1px solid #000;
  text-align: center;
  padding-top: 40px;
  color: #000; }

.color-primary {
  background: #176EB5; }

.color-secondary {
  background: #f3f2f1; }

.color-pg-bkgd {
  background: #f3f2f1; }

.color-font {
  background: #58585a; }

.color-about {
  background: #597eb2;
  /*background-color: rgba(19, 71, 145, .7);*/ }

.color-admissions, .purple {
  background: #933da6;
  /*background-color: rgba(108, 32, 126, .7);*/ }

.purple {
  color: #933da6; }

.color-degree {
  background: #ffa609;
  /*background-color: rgba(213, 159, 13, .9);*/ }

.color-pro-certs {
  background: rgba(86, 160, 211, 0.7);
  /*background-color: rgba(86, 160, 211, .7);*/ }

.color-custom {
  background-color: rgba(176, 188, 34, 0.7); }

.color-people {
  background-color: rgba(145, 145, 149, 0.7); }

#content {
  width: 100%;
  min-height: 650px;
  margin-bottom: 20px; }

#page-content.eleven.columns {
  margin-left: 0; }

#footer {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 10px;
  background: #5c5c5c url(https://confluence.engin.umich.edu/download/attachments/30508410/footer-ribbon-bg.gif) left top repeat-x;
  font: bold .8em 'Open Sans', sans-serif; }
  #footer ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 1.2em; }
    #footer ul li:first-child {
      margin-left: 0; }
    #footer ul li:last-child {
      margin-right: 0; }
  #footer a {
    color: #fff;
    text-decoration: none;
    padding: 0;
    font-weight: normal; }
    #footer a:focus, #footer a:hover {
      text-decoration: underline;
      color: #fdeb72; }
  #footer .contact-info li {
    margin-top: 25px;
    margin-left: 20px; }
  #footer .contact-info a {
    height: 40px;
    padding-top: 25px;
    font-weight: bold;
    background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-phone.png) 50% 0 no-repeat; }
    #footer .contact-info a.phone {
      background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-phone.png); }
    #footer .contact-info a.map {
      background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-map-location.png); }
    #footer .contact-info a.contact {
      background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-contact.png); }
  #footer .um-logo {
    display: block;
    float: right;
    margin: 47px 0 20px 0; }
  #footer .siteinfo {
    float: right;
    margin-right: 95px;
    color: #fff;
    font-size: 70%;
    text-align: left;
    font-weight: normal; }

#footer-nav {
  clear: both; }
  #footer-nav li {
    margin: 0 5px;
    font-size: 90%; }

@media only screen and (max-width: 400px) {
  #footer .columns {
    width: 100%; }
  #footer #footer-nav {
    text-align: center; }
    #footer #footer-nav li {
      display: block;
      margin: 10px; }
  #footer ul.contact-info {
    text-align: center; }
    #footer ul.contact-info li {
      margin-left: 5px; }
  #footer .um-logo {
    width: 300px;
    float: none;
    margin: 0 auto 10px; } }
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #footer {
    width: 100%;
    background-image: none;
    background: #555;
    padding-top: 20px; }
    #footer .row {
      margin-bottom: 0; }
    #footer .container {
      width: 420px;
      margin: 0 auto; }
      #footer .container div.columns {
        width: 100%; }
    #footer .contact-info {
      text-align: center; }
    #footer #footer-nav {
      float: none;
      margin: 25px auto;
      text-align: center;
      clear: both; }
      #footer #footer-nav li {
        float: none;
        display: inline-block;
        margin: 5px; }
    #footer .um-logo {
      width: 300px;
      float: none;
      margin: 0 auto; } }
.social-media {
  width: 100%;
  height: 24px; }
  .social-media li {
    color: #fff;
    text-align: center;
    margin: 0; }
    .social-media li a {
      width: 24px;
      height: 24px;
      background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-facebook.png) 50% 50% no-repeat; }
      .social-media li a.social_facebook {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-facebook.png);
        background-position: left top;
        margin-left: -6px; }
      .social-media li a.social_twitter {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-twitter.png); }
      .social-media li a.social_linkedin {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-linkedin.png); }
      .social-media li a.social_youtube {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-youtube.png); }
      .social-media li a.social_tagboard {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-tagboard.png); }
    .social-media li.umichisd {
      color: #fff;
      font-weight: bold;
      font-size: 1.1em;
      padding-top: 10px; }
    .social-media li span {
      display: none; }

#footer ul.social-media li {
  margin: 0; }

@media only screen and (max-width: 400px) {
  .social-media {
    float: none;
    width: 260px;
    margin: 10px auto 20px;
    padding-left: 0; } }
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .social-media {
    float: none;
    width: 400px;
    margin: 10px auto 20px;
    padding-left: 25%; } }
@media only screen and (min-width: 701px) and (max-width: 959px) {
  .social-media {
    float: none;
    width: 100%;
    margin: 10px auto 20px;
    padding-left: 25%; } }

/*# sourceMappingURL=footer.css.map */
