.color-tile {
  display: block;
  width: 100px;
  height: 55px;
  border: 1px solid #000;
  text-align: center;
  padding-top: 40px;
  color: #000; }

.color-primary {
  background: #176EB5; }

.color-secondary {
  background: #f3f2f1; }

.color-pg-bkgd {
  background: #f3f2f1; }

.color-font {
  background: #58585a; }

.color-about {
  background: #597eb2;
  /*background-color: rgba(19, 71, 145, .7);*/ }

.color-admissions, .purple {
  background: #933da6;
  /*background-color: rgba(108, 32, 126, .7);*/ }

.purple {
  color: #933da6; }

.color-degree {
  background: #ffa609;
  /*background-color: rgba(213, 159, 13, .9);*/ }

.color-pro-certs {
  background: rgba(86, 160, 211, 0.7);
  /*background-color: rgba(86, 160, 211, .7);*/ }

.color-custom {
  background-color: rgba(176, 188, 34, 0.7); }

.color-people {
  background-color: rgba(145, 145, 149, 0.7); }

#top_wrapper {
  z-index: 100; }

#header {
  position: relative;
  margin-top: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: #002b5c;
  background-color: rgba(0, 43, 92, 0.8); }

.homepage #header {
  height: 80px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px; }

#isd-logo {
  margin-top: 0;
  width: 300px;
  height: 20px;
  /* TOTAL height: 40px; */
  padding-top: 20px; }

#adBlock,
.gsc-adBlock {
  display: none; }

/* - - - - - - - - - - - - Search Box - - - - - - - - - - - - */
#search-mobile {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(97, 181, 218, 0.8); }
  #search-mobile form {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -5px; }
    #search-mobile form fieldset {
      margin-bottom: 10px; }

#search input[type=text],
#search-mobile input[type=text] {
  height: 13px;
  width: 73%;
  margin-top: 10px;
  margin-left: 5%;
  float: left;
  padding-top: 5px;
  background: #fff;
  color: #58585a;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 1.4em;*/ }

#search input[type=submit],
#search-mobile input[type=submit] {
  background: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-search-white.png) no-repeat scroll left 15px transparent;
  background-position: 50% 50%;
  border: medium none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  width: 17px;
  height: 50px;
  padding: 0 20px; }

#search {
  display: none; }

@media (min-width: 768px) {
  #search-mobile {
    display: none; }

  #main-menu #search.columns.four {
    top: 0;
    right: 0;
    display: block;
    float: right;
    height: 50px;
    background: transparent; }

  #search form {
    height: 50px; }

  #search fieldset {
    margin-bottom: 0;
    height: 50px; }

  #search input[type=submit] {
    background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-search-blue.png);
    background-color: #fff;
    margin: 0; } }
@media (min-width: 768px) and (max-width: 959px) {
  #main-menu #search.columns.four {
    width: 50px;
    margin: 0; }

  #search input[type=text] {
    display: none; }

  #search input[type=submit] {
    padding: 0 20px;
    margin: 0; } }
@media (min-width: 960px) {
  #search input[type=text] {
    display: block;
    width: 67%;
    margin-left: 0; }

  #search input[type=submit] {
    background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-search-blue.png);
    background-color: transparent; } }
#page-banner {
  margin: 0;
  padding: 0;
  background: #a6bee0 url("//confluence.engin.umich.edu/download/attachments/30508410/title-ribbon-bg.jpg") 50% 50% no-repeat;
  z-index: 10; }
  #page-banner img {
    position: relative !important;
    float: right !important;
    z-index: 15; }

#page-banner.img-embed {
  background-image: none; }

.landing #page-banner {
  background-image: none; }
  .landing #page-banner .container {
    background: none; }

/*
.short #page-banner {
    min-height: 100px;
}
*/
h2.page-title {
  padding: 20px;
  padding-left: 0;
  /* padding-top: 100px;  SEE MEDIA QUERIES */
  color: #176eb5;
  line-height: 1.2em;
  margin-right: 0;
  width: 48%;
  z-index: 12; }

.custom-programs h2.page-title {
  color: #fff; }

h2.page-title span {
  font-weight: normal; }

@media only screen and (max-width: 768px) {
  #top-wrapper {
    margin: 0;
    width: 100%; }

  #page-banner {
    height: inherit;
    min-height: 67px; }

  #page-banner .container {
    margin: 0;
    width: 100%; }
    #page-banner .container img {
      display: none; }

  h2.page-title {
    width: 100%;
    font-size: 1.6em;
    padding: 20px 11px;
    margin-bottom: 0;
    background: #0b66bc;
    color: #fff;
    clear: both; }

  #content {
    padding-top: 20px;
    background: #fff; } }
@media only screen and (min-width: 767px) {
  #page-banner {
    clear: both;
    padding: 0 11px; }

  #page-banner.img-embed .container {
    height: 250px;
    /*background-image: none;*/ }

  .landing #page-banner,
  .landing #page-banner .container {
    height: 250px;
    /* TOTAL height: 250px; */ }

  .short #page-banner {
    height: inherit;
    min-height: 87px;
    height: 100px; }
    .short #page-banner h2.page-title {
      padding-top: 35px; }

  h2.page-title {
    padding-top: 100px; }

  .landing h2.page-title {
    padding-top: 10%;
    margin-right: 50%; } }

/*# sourceMappingURL=header.css.map */
