/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	//padding:15px;
	display:inline-block;
	//border-bottom:1px solid #1a1a1a;
	//background:#333;
	transition:all linear 0.15s;
	/* Type */
	//font-size:1.200em;
	//text-shadow:0px 1px 0px #1a1a1a;
	//color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	//background:#4c4c4c;
	/* Type */
	text-decoration:none;
}

.accordion:last-child .accordion-section-title {
	//border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}


/* - - - - - - - - ISD Customization - - - - - - - - */

@media all and (max-width: 765px) {

	/*----- Accordion -----*/
	.mobile-accordion, .mobile-accordion * {
		-webkit-box-sizing:border-box; 
		-moz-box-sizing:border-box; 
		box-sizing:border-box;
	}

	.mobile-accordion {
		overflow:hidden;
		box-shadow: none;
		border-radius: none;
		background: transparent;
		min-height: 40px;
	}

	/* ----- Mobile Accordion Icons ------ */
	h3.mobile-title {
		border: none;
		color:$color-primary;
		font-weight: normal;
		font-size: 1.2rem;
		height: 30px;
		padding: 0 5px 0 40px;
		background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icons-mobile.png) left 0 no-repeat;
		#pricing & {
			background-position: left -10px;
		}
		#course-overview & {
			background-position: left -30px;
		}
		#agenda & {
			background-position: left -60px;
		}
		.learning-objectives & {
			background-position: left -90px;
		}
		.attendees & {
			background-position: left -120px;
		}
		.instructors & {
			background-position: left -150px;
		}
		.brochure & {
			background-position: left -180px;
		}
	}

	/*----- Section Titles -----*/
	.accordion-section-title {
		padding: 0 30px 0 0;
		font-weight: normal;
		position: relative;
	
		.arrow {
			display: block;
			width: 20px;
			position: absolute;
			right: 0;
			background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-arrow-blue.png) right 50% no-repeat;
		}
		&.active, &:hover {
			background-color:#fff;
			.arrow {
				transform: rotate(.25turn);
			}
		}
		//.mobile-accordion:last-child & {
		//	border-bottom:none;
		//}
	}

	/*----- Section Content -----*/
	.accordion-section-content {
		padding: 0;
		display:none;
	}
}

@media all and (min-width: 766px) {
	.mobile-title {
		display: none;
	}
}
