/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	//padding:15px;
	display:inline-block;
	//border-bottom:1px solid #1a1a1a;
	//background:#333;
	transition:all linear 0.15s;
	/* Type */
	//font-size:1.200em;
	//text-shadow:0px 1px 0px #1a1a1a;
	//color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	//background:#4c4c4c;
	/* Type */
	text-decoration:none;
}

.accordion:last-child .accordion-section-title {
	//border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}


/* - - - - - - - - ISD Customization - - - - - - - - */

@media all and (max-width: 765px) {

	/*----- Accordion -----*/
	.mobile-accordion, .mobile-accordion * {
		-webkit-box-sizing:border-box; 
		-moz-box-sizing:border-box; 
		box-sizing:border-box;
	}

	div.mobile-accordion {
		overflow:hidden;
		border-radius: 0;
		border-bottom: 1.5px solid #e7e6e3;
    	box-shadow: inset 0 1px 0 #fcfcfc;
		background: transparent;
		min-height: 40px;
		padding: 5px 0;
		margin: 0;

		&.active {
			background: #fff;
		}
	}
	
	div#course-overview, div#agenda, div.instructors {
		padding: 5px 0;
		margin: 0;
	}
	/* Brochure mobile accordion adjustments in _brochure.scss */
	/* Pricing mobile accordion styling in _pricing.scss */

	/* ----- Mobile Accordion Icons ------ */
		h3.mobile-title {
			height: 30px;
			padding: 0 5px 0 40px;
			margin: 0;
			border: none;
			background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icons-mobile.png) 5px 0 no-repeat;
			color:$color-primary;
			font-weight: normal;
			font-size: 1.2rem;

			#pricing & {
				background-position: 5px 0px;
			}
			#course-overview & {
				background-position: 5px -30px;
			}
			#agenda & {
				background-position: 5px -60px;
			}
			.learning-objectives & {
				background-position: 5px -90px;
			}
			.attendees & {
				background-position: 5px -120px;
			}
			.instructors & {
				background-position: 5px -150px;
			}
			.brochure & {
				background-position: 5px -180px;
			}
		}

	/*----- Section Titles -----*/
	a.accordion-section-title {
		padding: 0 30px 0 0;
		font-weight: normal;
		position: relative;
		text-decoration: none;
		z-index: 10;

		&:hover, &:focus {
			text-decoration: none;
		}

		.arrow {
			//display: inline-block;
			width: 20px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 5;
			background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-arrow-blue.png) right 50% no-repeat;
		}
		&.active {
			.arrow {
				transform: rotate(.25turn);
			}
		}
	}

	/*----- Section Content -----*/
	.accordion-section-content {
		padding: 10px;
		//display:none;
	}
}

@media all and (min-width: 766px) {
	.mobile-title {
		display: none;
	}
}
