.brochure {
	height: 137px;
	padding: 10px 0; 
	background: #176eb5;
	font-size: .9em; 

	div.caption {
		margin-bottom: 0;
		margin-left: 10px;
	}
	p {
		margin-top: 10px;
		margin-bottom: 2px; 
		color: #fff; 
		//font-size: 1em;
	}
	a {
		text-decoration: none;
		color: #ffcc33;
	}
	strong {
		color: #fff;
	}
}

@media (max-width: 767px) {
	.brochure {
		height: inherit;
		box-shadow: 0 1px 0 #fcfcfc;
		padding: 5px 0;
		margin: 0;

		h3.mobile-title a {
			color: $color-primary;
		}
		p {
			color: $color-primary;
		}
		stong {
			color: $color-primary;
		}
	}
}