.brochure {
	height: 137px;
	padding: 10px 0; 
	background: #176eb5;
	font-size: .9em; 

	div.caption {
		margin-bottom: 0;
		margin-left: 10px;
	}
	p {
		margin-top: 10px;
		margin-bottom: 2px; 
		color: #fff; 
		//font-size: 1em;
	}
	a {
		text-decoration: none;
		color: #ffcc33;
	}
	strong {
		color: #fff;
	}
}

@media (min-width: 768px) {
	.brochure {
		h3.mobile-title {
			color: $color-primary;
		}
	}
}