#footer {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    background: #5c5c5c url(https://confluence.engin.umich.edu/download/attachments/30508410/footer-ribbon-bg.gif) left top repeat-x;
    font: bold .8em 'Open Sans', sans-serif;

    ul {

        li {
            display: inline-block;
            margin: 0 10px;
            line-height: 1.2em;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        padding: 0;

        &:focus,
        &:hover {
            text-decoration: underline;
            color: #fdeb72;
        }
    }
    .contact-info {
        li {
            margin-top: 25px;
            margin-left: 20px;
        }

        a {
            height: 40px;
            /*text-align: center;*/
            padding-top: 25px;
            background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-phone.png) 50% 0 no-repeat;

            &.phone {
                background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-phone.png);
            }
            &.map {
                background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-map-location.png);
            }
            &.contact {
                background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-contact.png);
            }
        }
    }

    // See _social-media.scss for Footer Social Media styling

    .um-logo {
        display: block;
        float: right;
        margin: 47px 0 20px 0;
    }

    .siteinfo {
        float: right;
        margin-right: 85px;
        color: #fff;
        font-size: 70%;
        text-align: left;
    }
}

#footer-nav {
    clear: both;

    li {
        margin: 0 5px;
        font-size: 90%;
    }
}
@media only screen and (max-width: 400px) { 
    #footer {
        .columns {
            width: 100%;
        }
        #footer-nav {
                 text-align: center;
           li {

                display: block;
                margin: 10px;
            }
        }
        ul.contact-info {
            li:first-child {
                margin-left: 20px;
            }
        }
        .um-logo {
            width: 300px;
            float: none;
            margin: 0 auto 10px;

        }
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) { 
    #footer {
        width: 100%;
        background-image: none;
        background: #555;
        padding-top: 10px;
        .row {
            margin-bottom: 0;
        }
        .container {
            width: 420px;
            margin: 0 auto;
           div.columns {
                width: 100%;
            }
        }
        .contact-info {
            margin: 25px auto;
            text-align: center;
            li {
                &:first-child {
                    margin-left: 20px;
                }
                &:last-child {
                    margin-right: 20px;
                }
 
            }
        }
        #footer-nav {
        float: none;
        margin: 25px auto;
        text-align: center;
        clear: both;
            li {
                float: none;
                display: inline-block;
                margin: 5px;
            }
        }
        .um-logo {
            width: 300px;
            float: none;
            margin: 0 auto;
        }
        /*
        .siteinfo {
            clear: both;
            margin-top: 20px;
        }
        */
    }
}
