#footer {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    background: #5c5c5c url(https://confluence.engin.umich.edu/download/attachments/30508410/footer-ribbon-bg.gif) left top repeat-x;

    li {
        line-height: 1.2em;
    }
    .siteinfo {
        color: #fff;
        font-size: 70%;
        text-align: center;

        a {
            color: #fff;
            text-decoration: none;

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// See _social-media.scss for Footer Social Media styling

#footer-nav {
    float: right;

    li {
        float: left;
        margin-left: 20px;
    }
    a {
        color: #fff;
        font: 400 85% 'Open Sans', sans-serif;
        &:hover,
        &:focus {
            text-decoration: none;
            color: #fdeb72;
        }
    }
}

@media only screen and (max-width: 960px) { 
    #footer {
        width: 100%;
        background-image: none;
        background: #555;
        padding-top: 10px;
        .row {
            margin-bottom: 0;
        }
        .container {
            width: 420px;
            margin: 0 auto;
           div.columns {
                width: 100%;
            }
            ul.social-media {
                width: inherit;
                float: none;
            }
            #footer-nav {
                float: none;
                margin: 0 auto;
                text-align: center;
                clear: both;
                li {
                    float: none;
                    display: inline-block;
                    margin: 5px;
                }
            }
            .siteinfo {
                clear: both;
                margin-top: 10px;
            }
        }
    }
}