#footer {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    background: #5c5c5c url(../../images/footer-ribbon-bg.gif) left top repeat-x;
}

#footer .columns {
    height: 25px;
}

#footer li {
    line-height: 1.2em;
}

#footer .siteinfo {
    color: #fff;
    font-size: 70%;
    text-align: center;
}

#footer .siteinfo a {
    color: #fff;
    text-decoration: none;
}

#footer .siteinfo a:focus,
#footer .siteinfo a:hover {
    text-decoration: underline;
}

#footer-nav {
    float: right;
}

#footer-nav li {
    float: left;
    margin-left: 20px;
}

#footer-nav a {
    color: #fff;
    font: 400 85% 'Open Sans', sans-serif;
}

#footer-nav a:hover,
#footer-nav a:focus {
    text-decoration: none;
    color: #fdeb72;
}

@media (max-width: 767px) { 
    #footer {
        width: 100%;
        background-image: none;
        background: #555;
        padding-top: 10px;
        .row {
            margin-bottom: 0;
        }
        .container {
            width: 100%;
            div.columns {
                display: block;
                width: 100%;
                float: none;
            }
            /*ul.social-media {
                width: inherit;
                margin: 0 auto;
            }*/
            #footer-nav {
                float: none;
                //width: 50%;
                margin: 0 auto;
                text-align: center;
                li {
                    float: none;
                    display: inline-block;
                    //margin-left: 0;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }
            .siteinfo {
                clear: both;
                margin-top: 10px;
            }

        }
    }
}