.instructors {
	margin-bottom: 10px;
	padding-top: 30px;

	h3 {
		line-height: 24px;
		margin-bottom: 5px;
	}
	//.captioned img {
	//	margin-bottom: 0;
	//}

	.instructor {
		background-color: #a0c0de;
		padding: 0; 
		.captioned {
			width: 100px; 
			padding: 20px 10px 0 0;
			float: right;
		}
		h4 {
			text-transform: capitalize; 
			padding: 20px 0 0 10px; 
			margin-bottom: 0; 
			font-weight: normal; 
			font-size: 19px; 
			color: #175191;
		}
		p {
			color: #333333; 
			padding: 0 10px 10px 10px; 
			font-size: 12px; 
			line-height: 17px; 
		}
	}
}

@media only screen and (max-width: 767px) {
	.instructors {
	
		.captioned.left {
			float: none;
			margin-right: 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
}