.instructors {
	margin-bottom: 10px;
	padding-top: 30px;

	h3 {
		line-height: 24px;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 767px) {
	.instructors {
	
		.caption.left {
			float: none;
			margin-right: 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
}