#pricing {
	background: #fff; 
	padding: 10px 10px 0px 10px;
	color: #176eb5;
	padding-bottom: 5px;
	font-size: .9em;

	div {
		margin: 0;
		&.left {
			width: 40%; 
			float: left;
			margin-right: 7px;
		}
		&.right {
			float: right;
			width: 55%;
		}
	}
	p {
		margin-bottom: 10px;
	
		&.price {
			margin-bottom: 9px; 
			font-size: 1.8em;
		}
		&.discount {
			margin-bottom: 2px; 
			font-size: 1.2em;
		}
	}
}

@media (max-width: 767px) {

	#pricing {
		div.left {
			width: 35%;
		}		
		div.right {
			width: 60%;
		}
	}
}