#pricing {
	background: #fff; 
	padding: 10px 0;
	color: #176eb5;
	font-size: .9em;

	div {
		margin: 0;
		&.left {
			width: 40%; 
			float: left;
			margin-right: 7px;
			padding-left: 10px;
		}
		&.right {
			float: right;
			width: 45%;
			padding-right: 10px;
		}
	}
	p {
		margin-bottom: 10px;
	
		&.price {
			margin-bottom: 9px; 
			font-size: 1.8em;
		}
		&.discount {
			margin-bottom: 2px; 
			font-size: 1.2em;
		}
	}
}

@media (max-width: 767px) {

	#pricing {
		div.left {
			//width: 35%;
		}		
		div.right {
			//width: 50%;
		}
	}
}