/*
OLD:
<div style="width: 280px; padding: 0; background: url('https://confluence.engin.umich.edu/download/attachments/21103180/learning-objectives-inset.jpg') top left no-repeat; overflow: hidden;">
    <div style="height: 30px; padding-top: 15px; background: url('https://confluence.engin.umich.edu/download/attachments/21103180/sidebar-title-overlay.png') top left repeat-x; overflow: hidden;">
        <h5 style="color: #ffffff; font-weight: normal; margin-left: 10px; text-transform: uppercase;">Learning Objectives</h5>
    </div>
    <ul class="disc" style="margin: 130px 10px 0px 10px; padding: 0 10px 0 15px;">
        <li>Learn valuable&nbsp;skills to transform and lead a Lean Enterprise&nbsp;</li>
        <li>Develop&nbsp;management tools to facilitate Lean Leadership including Leader Standard Work and Visual Management</li>
        <li>To provide particular methodologies to assist the Lean leader fulfill his or her primary responsibility of driving continuous improvement in his or her organization including A3, Gemba Walks, Training Within Industries (TWI), and Toyota Kata</li>
    </ul>
    <a class="slider2button small blue" style="background-color: #5082b9; margin: 0px 0 20px 10px; color: #ffffff;" href="/professional-programs/lean-leadership/why.htm"><span style="color: #ffffff;">Why Take this Course?</span></a>
</div>

NEW:
<div class="promo image dine-out">
    <div class="banner">
        <h5>Networking "Dine Out"</h5>
    </div>
    <p>When class is finished for the day, enjoy a casual night out with your classmates in an organized excursion to one of Ann Arbor's many great restaurants.</p>
    <ul class="disc">
        <li>Learn valuable skills to transform and lead a Lean Enterprise&nbsp;</li>
        <li>Develop management tools to facilitate Lean Leadership including Leader Standard Work and Visual Management</li>
        <li>To provide particular methodologies to assist the Lean leader fulfill his or her primary responsibility of driving continuous improvement in his or her organization including A3, Gemba Walks, Training Within Industries (TWI), and Toyota Kata</li>
    </ul>
    <a class="slider2button small blue" href="/professional-programs/lean-leadership/why.htm">Why Take this Course?</a>
</div>

<div class="columns eleven alpha promo learning-objectives">
    <div class="row" style="background: none; margin: 0px; padding: 0px;">
        <div class="columns five" style="margin-top: 5px; margin-left: 25px;">
            <h3 style="color: #ffcc00; font-weight: bold; margin-top: 20px; margin-bottom: 5px;">Learning Objectives</h3>
            <ul class="disc" style="color: #ffffff;">
            <li>Learn valuable skills to transform and lead a Lean Enterprise</li>
            <li>Develop management tools to facilitate Lean Leadership including Leader Standard Work and Visual Management</li>
            <li>To provide particular methodologies to assist the Lean leader fulfill his or her primary responsibility of driving continuous improvement in his or her organization including A3, Gemba Walks, Training Within Industries (TWI), and Toyota Kata</li>
            </ul>
        </div>

    </div>
</div>

<div class="eleven columns alpha promo attendees">
    <div class="six columns alpha" style="margin-bottom: -4px;">
        <img style="max-width: 100%;" src="http://confluence.engin.umich.edu/download/attachments/30508410/lhc-who-should-attend.jpg" alt="Lean Healthcare: Who Should Attend" border="0" />
    </div>
    <div class="five columns omega">
        <h3>Who Should Attend</h3>
        <p>All of the following attendees will benefit from this program:</p>
        <ul class="disc">
            <li>Anyone in a leadership position from Supervisor to CEO</li>
            <li>Leaders in any industry including but not limited to manufacturing, service, and healthcare</li>
            <li>Anyone who wants to create a sustainable culture of continuous improvement</li>
        </ul>
    </div>
</div>
*/

.promo {
    //font-size: .9em;
    padding:0;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    background-color: #fff;

    h3, h4 {
        padding: 0 15px 0 15px;
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    h4 {
        text-transform: capitalize;
        color: #ffffff; 
        font-weight: bold; 
        margin-left: 15px; 
        font-size: 18px; 
        line-height: 21px; 
    }
    /* H5 is used for Promo banners */
    h5 {
        color: #ffffff;
  		font-weight: bold;
  		padding-left: 15px;
  		margin-bottom: 10px;
  		font-size: 18px;
  		line-height: 21px;
  		text-transform: capitalize;
    }
    p {
        padding: 0 15px 20px 15px;
        margin-bottom: 0;
        font-size: .9em;
    }
    ul.disc  {
        margin: 0 10px 0 25px; 
        padding: 0 0 10px 10px;
    }
    a.slider2button.small.blue {
        background-color: #5082b9; 
        margin: 0px 0 20px 10px; 
        color: #ffffff;
    } 

    div.banner {
        position: relative;
        width: 100%;
        margin-bottom: 0px;
        padding: 15px 0 5px 0; 
        background-color: #176eb5;
    }

    &.custom-programs {
        background-image: none;
        background-color: #7c8703;
        padding: 0;
        padding-top: 20px;
		font-size: .85em;
        h4 {
            color: #ffcc00; 
            font-size: 1.5em;
            font-weight: normal;
            margin-bottom: 10px;
            margin-left: 10px;
            text-transform: uppercase;
        }
        p {
            font-size: 1.2em; 
            line-height: 18px; 
            margin-left: 10px;
            color: #ffffff;
        }
        a {
            //margin-left: 10px;
            font-weight: bold; 
           color: #ffcc00;
           text-decoration: none;
        }
    }
    &.learning-objectives {
       background-image: none;
       padding-top: 10px;
        h3 {
            margin-top: 20px; 
            margin-bottom: 10px; 
            font-weight: bold;
        }
        div.columns.five {
            margin-left: 0;
        }
    }
}

.stopwatch {
    background: url("//confluence.engin.umich.edu/download/attachments/3958/stopwatch-090611.jpg") no-repeat scroll left bottom #FFFFFF;
    h3 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    p {
    padding-left: 120px;
    }
}

@media (max-width: 767px) {

    .promo {
        width: 100%;
        //padding: 20px 0;
        .sidebar & {
            background-image: none;
        }
        div.banner {
            position: relative;
            //top: 0; left: 0;
            //margin-bottom: 20px;
            width: 100%;
            //height: 45px;

            padding-top: 15px; 
            padding-bottom: 5px; 
            background-color: transparent; 
            margin-bottom: 0px;
        }
        h3, h4 {
			margin-top: 20px;
			margin-bottom: 10px;
			font-weight: bold;
			color: #176EB5;
        }

        &.attendees {
            padding-top: 10px;
            div.six.alpha {
                display: none;
            }
        }
        &.custom-programs {
            width: 100%;
            .caption {
                display: none;
                width: 100%;
                img {
                    width: 100%;
                    height: inherit;
                }
            }
            h4 { 
                clear: left;
                padding: 0;
            }
            p {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .promo {
        background: #fff;
        padding: 0;
        width: 100%;
        
        img {
            display: block;
            width: 100%;
            padding: 0;
            margin-top: 0;
            margin-bottom: 10px;
            overflow: hidden;       
        }
        
        &.custom-programs {
        	width: 95%;
            div.caption {
                float: none;
                width: 215px;
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }
        
        &.img-embed {
            background: #FFF none;
            padding: 0 0 20px 0;
            overflow: hidden;
            img {
                margin-bottom: -4px;
            }
        }
        &.kata-facebook {
            text-align: center;
        }
        &.leanhealthcare {
            background-image:url("//confluence.engin.umich.edu/download/attachments/21103180/leanhealthcare-inset.jpg");
            padding-top: 210px;
        }
        &.learning-objectives {
            margin: 0; 
            padding: 0;
            background-image: url('https://confluence.engin.umich.edu/download/attachments/30508410/portfolio-bg.jpg');
            h3 {
                color: #ffcc00;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 22px;
            }
            p {
                color: #fff;
            }
            li {
                color: #fff;
            }
        }
    }
}