/* - - - - - - - - - - - - Search Box - - - - - - - - - - - - */
#search-mobile  {
    display: block;
    position: relative;
    top: 0;
    left:0;
    background: $color-menu;

    form    {
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: -5px;


        fieldset   {
            margin-bottom: 10px;
        }
    }
}
#search input[type=text],
#search-mobile input[type=text] {
    height: 13px;
    width: 73%;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
    padding-top: 5px;
    background: #fff;
    color: #58585a;
    font-family: 'Open Sans', sans-serif;
    //font-size: 85%;
    /*line-height: 1.4em;*/
}

#search input[type=submit],
#search-mobile input[type=submit] {
    background: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-search-white.png
) no-repeat scroll left 15px transparent;
    background-position: 50% 50%;
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    width: 17px;
    height: 50px;
    padding: 0 20px;
}

#search {
    display: none;
}

@media (min-width: 768px) {
    #search-mobile {
        display: none;
    }

    #main-menu #search.columns.four {
        top: 0; right: 0;
        display: block;
        float: right;
        height: 50px;
        background: transparent;
     }
    
    #search form {
        height: 50px;
    }
    #search fieldset {
        margin-bottom: 0;
        height: 50px;
    }

    #search input[type=submit] {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-search-blue.png
    );
        background-color: #fff;
        margin: 0;
    }
}


@media (min-width: 768px) and (max-width: 959px) {
    #main-menu #search.columns.four {
        width: 50px;
        margin: 0;
     }
    #search input[type=text] {
        display: none;
    }
    #search input[type=submit] {
        padding: 0 20px;
        margin: 0;
    }
}
@media (min-width: 960px) {

    #search input[type=text] {
        display: block;
        width: 67%;
        margin-left: 0;
    }

    #search input[type=submit] {
        background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-search-blue.png
    );
        background-color: transparent;
    }




}
