/* - - - - - - Customization for Shadowbox for Contact Us pop-up - - - - - - */

@media (max-width: 565px) {
	//to solve pop-up window issues

	#sb-wrapper {
		// inline = top: 69px; left: 20px; width: 510px; visibility: visible;
		left: 5% !important;
		top: 5% !important;
		height: 90% !important;
		width: 90% !important;
	}

	#sb-wrapper-inner {
		// inline = height: 529px
		height: 100% !important;
	}

	#sb-player {
		section {
			padding: 0 5%;
			width: 90%;
		}
		h2 {
			font-size: 175%;
		}
	}
}