.social-media {
	width: 100%;
	li {
		color: #fff;
		text-align: center;
		margin: 0 3px;
		a {
			width: 24px;
			height: 24px;
			background: transparent url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-facebook.png) 50% 50% no-repeat;

			&.social_facebook {
				background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-facebook.png);
			}
			&.social_twitter {
				background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-twitter.png);
			}
			&.social_linkedin {
				background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-linkedin.png);
			}
			&.social_youtube {
				background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-youtube.png);
			}
			&.social_tagboard {
				background-image: url(https://confluence.engin.umich.edu/download/attachments/30508410/icon-social-tagboard.png);
			}
		}
		span {
			display: none;
		}
	}
}
// to over-ride #footer default styling
#footer ul.social-media li {
	margin: 0 3px; 
}

@media only screen and (max-width: 960px) { 
	.social-media {
		width: 260px;
		margin: 10px auto 0;
	}
}