/*  - - - - - - - -  Edit to accomodate styling for the CMS system - - - - - - - - - -  */

.inline-edit-box,
.inline-add-box  {
	list-style: none;
	margin-left: 0;
	padding: 0;
}


@media only screen and (max-width: 767px) {

	div.sidebar.preview-editable {
		margin-bottom: 0 !important;
	}
	div.spacer, div.cms-history, div.preview-inline-edit-box {
		display: none !important;
	}
	.inline-edit-box, .inline-add-box {
		display: none;
	}
	.add-submenu {
		display: none;
	}
	.isd-organic-tabs ul.tab-menu,
	.isd-organic-tabs div.add-tab-li {
		display: none !important;
	}
}