/* - - - - - - Additional CSS post mobile header/footer/menu implementation - - - - - */

/* - - - - Logo issues - - - - */
#isd-logo img {
	margin-left: 10px;
}

@media only screen and (max-width: 400px) {
	#isd-logo {
		width: 100%;
	}
	#isd-logo img {
		width: 90%; /* to force logo to fit on screen and not be cut off on the right side */
	}
}



/* - - - - Mobile menu issues - - - - */
.mobile-menu-contact a, 
#main-menu .menu-button span.touch-button i.navicon {
	background-image: none;
}
.mobile-menu-contact {
	opacity: 1.0;	
}

/* - - - - Upcoming register button issues - - - - */
#upcoming ul.ilr li.item div.status {
	margin-top:10px;
}
#upcoming ul.ilr li.item div.five.columns.omega {
	padding-left: 10px; 
}
#upcoming ul.ilr li.item a.register-link:link {
	color: #fff;
	background: url("//confluence.engin.umich.edu/download/attachments/30508410/register-icons-blue.png") top right no-repeat;
	cursor: pointer;
}

#upcoming ul.ilr li.item a.register-link:visited,
#upcoming ul.ilr li.item a.register-link:hover, 
#upcoming ul.ilr li.item a.register-link:focus,
#upcoming ul.ilr li.item a.register-link:active,
#upcoming ul.ilr li.item a.register-link.touch
 {
    color: #ffcf01;
    background-image: url("//confluence.engin.umich.edu/download/attachments/30508410/register-icons-yellow.png");
	cursor: pointer;
}


/* - - - - - For mobile menu open/close icon rotations - - - - - - */
.flexnav > li .touch-button .navicon {
	display: inline-block;	
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.flexnav > li .touch-button.active .navicon {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
/* attempting to hide a bullet that flashes on close of a menu section */
#main-menu .flexnav > li ul li {
	list-style: none;
}

/* increasing length of flexnav-show to accomodate all menu item open in mobile */
.flexnav.flexnav-show {
	max-height: 4000px;
}


/* - - - - - For iPhone iframe scroll - - - - - - */
#sb-body-inner { /* Needed for touch scrolling on iPhones in Safari*/
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;	
}
#sb-body-inner 	iframe {
	height: 100%;
	min-height: 550px;
}

/* - - - - - For How To: spacing of text "Current Programs" and "Time Committment" above icons - - - - - - */
.howto #course-description .nav li {
	height: 240px;
	padding: 0;
	background: transparent url("//confluence.engin.umich.edu/download/attachments/21103180/icons-howtogetstarted.png") 0px bottom no-repeat;
}

.howto #course-description .nav li.nav-one  {
    background-position:  0 bottom;
}
.howto #course-description .nav li.nav-one.current,
.howto #course-description .nav li.nav-one:hover,
.howto #course-description .nav li.nav-one:focus  {
    background-position:  0 top;
}

.howto #course-description .nav li.nav-two  {
    background-position:  -180px bottom;
}
.howto #course-description .nav li.nav-two.current,
.howto #course-description .nav li.nav-two:hover,
.howto #course-description .nav li.nav-two:focus {
    background-position:  -180px top;
}

.howto #course-description .nav li.nav-three  {
    background-position:  -360px bottom;
}
.howto #course-description .nav li.nav-three.current,
.howto #course-description .nav li.nav-three:hover,
.howto #course-description .nav li.nav-three:focus  {
    background-position:  -360px top;
}

.howto #course-description .nav li.nav-four  {
    background-position:  -540px bottom;
}
.howto #course-description .nav li.nav-four.current,
.howto #course-description .nav li.nav-four:hover,
.howto #course-description .nav li.nav-four:focus  {
    background-position:  -540px top;
}

.howto #course-description .nav li a {
	height: inherit;/*TOTAL height: 160px;*/ 
	margin: 0;
	padding-top: 125px;
	background: none;
}

.howto #course-description .nav li.nav-one a {
	padding-top: 110px;
}
.howto #course-description .nav li.nav-one a.current,
.howto #course-description .nav li.nav-one:hover a,
.howto #course-description .nav li.nav-one:focus a  
{
	padding-top: 100px;
}

.howto #course-description .nav li.nav-two a {
	padding-top: 135px;
}
.howto #course-description .nav li.nav-two a.current,
.howto #course-description .nav li.nav-two:hover a,
.howto #course-description .nav li.nav-two:focus a  
{
	padding-top: 125px;
}

.howto #course-description .nav li.nav-three a {
	padding-top: 123px;
}
.howto #course-description .nav li.nav-three a.current,
.howto #course-description .nav li.nav-three:hover a,
.howto #course-description .nav li.nav-three:focus a 
{
	padding-top: 113px;
}

.howto #course-description .nav li.nav-four a {
	padding-top: 115px;
}
.howto #course-description .nav li.nav-four a.current,
.howto #course-description .nav li.nav-four:hover a,
.howto #course-description .nav li.nav-four:focus a  
{
	padding-top: 105px;
}