/* - - - - - - Additional CSS post mobile header/footer/menu implementation - - - - - */

.mobile-menu-contact a, 
#main-menu .menu-button span.touch-button i.navicon {
	background-image: none;
}

#upcoming ul.ilr li.item div.status {
	margin-top:10px;
}

#upcoming ul.ilr li.item a:hover, 
#upcoming ul.ilr li.item a:focus {
    color: #ffcf01;
}


/* - - - - - For mobile menu open/close icon rotations - - - - - - */
.flexnav > li .touch-button .navicon {
	display: inline-block;	
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.flexnav > li .touch-button.active .navicon {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
/* attempting to hide a bullet that flashes on close of a menu section */
#main-menu .flexnav > li ul li {
	list-style: none;
}

/* - - - to hide the shy triangle icon beind the hamburger - - - */
.menu-button > span.touch-button {
	display: none;
}
.menu-button > span.hamburger {
	display: block;
}
.menu-button > span.touch-button > i.navicon {
	display: none !important;
	color: #61b5da !important;
	width:1px !important;
	height: 1px !important;
	font-size: 1px !important;
	content: " " !important;
}

/* - - - - - For iPhone iframe scroll - - - - - - */
#sb-body-inner { /* Needed for touch scrolling on iPhones in Safari*/
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;	
}
#sb-body-inner 	iframe {
	height: 100%;
	min-height: 550px;
}

/* - - - - - For How To: improved spacing on "Current Programs" above icon - - - - - - */
.howto #course-description .nav li.nav-one a.current {
    padding-top: 98px;
}

