/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */


@media only screen and (max-width: 767px) {

	body {
		background-color: $color-pg-bkgd-mobile;
	}
 	
 	.container {
 		width: 100%;
 		div.columns {
 			//width: 95%;
 		}
 	}
	.mobile-hide {
		display: none;
	}

	.landing #page-banner {
		min-height: 67px;

		h2.page-title {
			min-height: 27px;
		}

	}

	.sidebar div.mobile-accordion {
		margin-bottom: 0 !important;
	}
	div.sidebar.preview-editable {
		margin-bottom: 0 !important;
	}
	div.spacer, div.cms-history, div.preview-inline-edit-box {
		display: none !important;
	}
	.sidebar div.clearfix {
		margin-bottom: 0;
	}

}
/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 420px) and (max-width: 767px) {

	.container.columns {
		//width: 95%;

		&.eleven {
			//width: 95%;
		}
		&.six {
			//width: 95%;
		}
		&.five {
			//width: 95%;
		}
	}
}