#agenda {
	margin-top: 20px;

	.row {

		&.bottom-rule	{
			margin-top: 0;
			margin-bottom: 10px;
			padding-bottom: 0;
		}
		a.slider2button.medium.blue {
			float: right; 
			background-color: #5082b9; 
			margin-top: 0px; 
			color: #ffffff;
		}	
	}
	h3 {
		margin-bottom: 0; 
		color: #175191;
	}
	h5 {
		color: #176eb5; 
		margin-top: 5px; 
		margin-bottom: 5px;
	}
	h6 {
		margin-bottom: 0px;
		font-weight: normal;
		font-size: 1em;
		color: #176eb5; 
	}
	p {
		color: #176eb5; 
		margin-bottom: 0px;

		&.icon {
			color: #176eb5; 
			margin-bottom: 5px; 
			padding-bottom: 10px; 
			padding-left: 40px; 
			background: url("//confluence.engin.umich.edu/download/attachments/21103180/network-icon.png") left top no-repeat;
		
			&.networking {
				background-image: url("//confluence.engin.umich.edu/download/attachments/21103180/network-icon.png");
			}
			&.downtown {
				background-image: url("//confluence.engin.umich.edu/download/attachments/21103180/town-icon.png")
			}
			&.dining {
				background-image: url("//confluence.engin.umich.edu/download/attachments/21103180/dine-icon.png"); 
			}
			&.airport {
				background-image: url("//confluence.engin.umich.edu/download/attachments/21103180/flight-icon.png");
			}
		}		 
	}
	.disc  {
		margin-bottom: 10px;
		li {
		margin-bottom: 0;
		}
	}
}