#breadcrumbs {
    height: 30px;
    width: 100%; /* TOTAL height: 40px; */
    padding-top: 8px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    font-size: .9em;
    color: #6d6e70;
    /*border-bottom: 1.5px solid #FCFCFC;
    -webkit-box-shadow: inset 0px -1px 0px 0px #E7E6E3;
    box-shadow: inset 0px -1px 0px 0px #E7E6E3;*/
    background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/rule-embossed.gif") left bottom repeat-x;

    .crumbs {
        float: left;
        /*margin-left: 10px;*/
        padding-top: 2px;
    }

    a {
        text-decoration: none;
        color: #698cc7;
    }

    .social-media {

        li {
            
            a#print-page {
                background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/icon-print.png") left 1px no-repeat;
                span {
                    display: block;
                    text-indent: -9999px;
                }
            }
            a#interC {
                background: transparent url("//confluence.engin.umich.edu/download/attachments/30508410/icon_info.png") left 1px no-repeat;
                span {
                    display: block;
                    text-indent: -9999px;
                }
            }
            .chicklets {
                text-indent: -9999px;
            } 
        }       
    }
}

/*			#breadcrumbs .social-media a {
				width: 16px; height: 16px;
				background: url("../images/icon-share-google-plus.png") no-repeat scroll 50% 50% transparent;
			}
				#breadcrumbs .social-media a.social_facebook {
					background: url("../images/icon-share-facebook.png") no-repeat scroll 50% 50% transparent;
				}
				#breadcrumbs .social-media a.social_twitter {
					background: url("../images/icon-share-twitter.png") no-repeat scroll 50% 50% transparent;
				}
				#breadcrumbs .social-media a.social_linkedin {
					background: url("../images/icon-share-linkedin.png") no-repeat scroll 50% 50% transparent;
				}
				#breadcrumbs .social-media a.social_youtube {
					background: url("../images/icon-share-youtube.png") no-repeat scroll 50% 50% transparent;
				}
				#breadcrumbs .social-media a.social_email {
					background: url("../images/icon-share-social-email.png") no-repeat scroll 50% 50% transparent;
				}
				#breadcrumbs .social-media a.social_rss {
					background: url("../images/icon-share-social-rss.png") no-repeat scroll 50% 50% transparent;
					margin-right: 0;
				}*/

@media only screen and (max-width: 767px) {

    #breadcrumbs  {
        display: none;
    }
}