#top_wrapper    {
    z-index: 100;
}

#header {
    position: relative;
    margin-top: 0;
    z-index: 10;
    height: 80px;
    width: 100%;
    background-color: rgb(0, 43, 92);
    background-color: rgba(0, 43, 92, .8);
}

.homepage #header {
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#isd-logo {
    margin-top: 0;
    width: 300px;
    height: 20px; /* TOTAL height: 40px; */
    padding-top: 20px;
    img {
        margin-left: 12px;
    }
}

#adBlock,
.gsc-adBlock {
    display: none;
}

@media only screen and (max-width: 400px) {
	#isd-logo {
		width: 100%;
	}
	#isd-logo img {
		width: 90%; /* to force logo to fit on screen and not be cut off on the right side */
	}
}
