/* - - - - - - Customization for Shadowbox for Contact Us pop-up - - - - - - */

/* For mobile view ONLY */
@media all and (max-width: 1199px) {
	//to solve pop-up window issues
	#sb-wrapper {
		// inline = top: 69px; left: 20px; width: 510px; visibility: visible;
		left: 5% !important;
		top: 5% !important;
		height: 90% !important;
		width: 90% !important;
		max-height: 600px !important;
		max-width: 530px !important;
	}

	#sb-wrapper-inner {
		// inline = height: 529px
		height: 100% !important;
	}
}
/*@media all and (min-width: 766px) and (max-width: 1199px) {
	#sb-wrapper {
		width: 530px !important;
	}

}*/
