/* - - - - - - Customization for Shadowbox for Contact Us pop-up - - - - - - */

/* For mobile view ONLY */
@media all and (max-width: 1199px) {
	//to solve pop-up window issues

	
	#sb-wrapper {
		// inline = top: 69px; left: 20px; width: 510px; visibility: visible;
		left: 5% !important;
		top: 5% !important;
		height: 100% !important;
		width: 90% !important;
		max-height: 600px !important;
		max-width: 530px !important;
		
	}

	#sb-wrapper-inner {
		// inline = height: 529px
		min-height: 550px !important;
	}


	#sb-body-inner { /* Needed for touch scrolling on iPhones in Safari*/
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		iframe#sb-player {
			height: 100%;
			min-height: 550px;
		}
	}
}

